<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dice Builder</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<style>
	</style>
</head>
<body>
	<div class="container-fluid">
		<form method="POST">
		<div class="row m-3">

			{% for dice_type, dice_colour in dice_types.items() %}
				{# dice_type must be 'd8' style string #}
				{# dice_colour must be 'LimeGreen' style string #}
				<div class="col-xl-2 col-md-4 col-sm-6 my-2">
					<div class="row">
						<div class="col-11 mx-auto">
							<div class="card row">
								<div class="input-group input-group-lg col-12">
									<input id="{{ dice_type }}-input" name="{{ dice_type }}" class="form-control my-2" type="number">
									<div class="input-group-append my-2" onClick="addRollerFlask(document.getElementById('{{ dice_type }}-input'));">
										<span class="input-group-text" style="background:{{ dice_colour }};">{{ dice_type }}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}

			<div class="col-sm-6 my-2">
				<div class="row">
					<div class="col-11 mx-auto">
						<div class="card row">
							<div class="input-group input-group-lg col-12">
								<input class="form-control my-2" type="number" disabled>
								<div class="input-group-append my-2"><span class="input-group-text">d</span></div>
								<input class="form-control my-2" type="number" disabled>
							</div>
							<!-- div class="input-group input-group-lg col-12">
								<div onClick="document.getElementById('{{ dice_type }}-input').value = '';" class="btn btn-secondary mb-2 col-12">Reset</div>
							</div -->
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-6 my-2">
				<div class="row">
					<div class="col-11 mx-auto">
						<div class="card row">
							<div class="input-group input-group-lg col-12">
								<div class="input-group-prepend my-2"><span class="input-group-text">Modifier</span></div>
								<input id="modifier-input" name="m" class="form-control my-2" type="number">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="my-3 container-fluid">
				<div class="row justify-content-around">
					<div class="col-12 col-md-5 mb-2 order-1 order-md-2">
						<input class="btn btn-lg btn-primary col-12" type="submit">
					</div>
					<div class="col-12 col-md-5 mb-2 order-2 order-md-1">
						<div onClick="resetFlaskRollers()" class="btn btn-secondary btn-lg col-12">Reset</div>
					</div>
				</div>
			</div>
		</div>
		</form>
	</div>
	<script>
function addRollerFlask(current_element) {
	if (current_element.value == '') {
		current_element.value = 0;
	}
	current_element.value = parseInt(current_element.value) + 1;
};

function resetFlaskRollers() {
	{% for dice_type, dice_colour in dice_types.items() %}
			document.getElementById('{{ dice_type }}-input').value = '';
	{% endfor %}

	document.getElementById('modifier-input').value = '';
};
	</script>
</body>
</html>
